

.background
{
  background: url('./Images/wp6899583.jpg') no-repeat center  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  

}


@keyframes slide-right {
  from {
    margin-left: -100%;
     
  }
  to {
    margin-right: 0%;
    
  }
}


.side{
  background-color:#161515 ;
  color:white;
 
  
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.image{
  margin-left: 100px;
  border-radius: 280px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (max-width:450px){
  .image{
    margin-left: 120px;
    margin-bottom: 20px;
  }
}
.image:hover {
  width: 170px;
  height: 170px;
  
}
.paragraph{
  color: white;
  font-size: 18px;
  padding-left: 75px;
}
@media screen and (max-width:550px){
  .paragraph{
    padding-left: 110px;
  }
}
.head{
   color: gray;
   
   
}
.head:hover{
  color:white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.log
{ 
  text-align: center;
  padding-top: 20px;
  margin:12px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}
.log:hover{
  color: white;
  cursor: pointer;
  height:60px;
  width:40px;
}
.li
{
  font-size: 20px;
}
.b { 
  padding-right: 30px;
}
.column-card
{
  float:left;
  width:85%;
  padding : 0 10px;

}
.row-card {margin: 0 -5px;}
.row-card:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column-card {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
.card{
  box-shadow: 2px 2px 3px 5px rgba(240, 238, 238, 0.2);
  padding:20px;
  position:relative;
  text-align: center; 
  border-radius: 20px;
  margin-top: 158px;
  margin-top: 40px;
  
}
.card.arrow-right:after {
  content: " ";
  position: absolute;
  right: -14px;
  top: 15px;
  border-top: 15px solid transparent;
  
  border-right: none;
  border-left: 15px solid #161515;
  border-bottom: 15px solid transparent;
}
.card.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid #161515;
  border-left: none;
  
  border-bottom: 15px solid transparent;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 365px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(18, 19, 18, 0.7);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding-top: 40px;
  animation: 2s slide-right;
}
.h{
  font-size: 18px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.h:hover{
  font-size: 21px;
}
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  
}

 @media screen and (max-width:570px){
 .sidebar a {
         
     display:inline;
     text-align: center;
     font-size: 13px;
     margin-left: -8px;
     padding-left: 33px;
     -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
 }
}
.sidebar a.active {
  color: white;
  font-size: 23px;
}

@media (max-width: 450px) {
  .flex-container {
    flex-direction: column;
  }
}
.sidebar a:hover:not(.active) {
  color: gray;
  text-decoration: none;
}

div.content {
  margin-top: 60px;;
  margin-left: 400px;
  padding: 1px 16px;
  height: auto;
}
div.cont {
  margin-top: 150px;;
  margin-left: 400px;
  padding: 1px 16px;
  height:580px;
}
@media screen and (max-width: 450px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.cont{margin-left: 0;} 
  div.content {margin-left: 0;}
}

@media screen and (max-width: 450px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 450px) {
  .Contact {
   
    float: left;
    font-size: 10px;
    justify-content: center;
    
    margin-top: 20px;
    margin-right: 60px;
    
  }
}
.pl
{
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  .pl {
   
  margin-left: 100px;
  }
}
.kl
{
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  .kl {
   
    justify-content: center;
    margin-left: 140px;
  }
}
.Contact{
  text-decoration: none;
  color:grey;
  font-size: 20px;
  display:"flex";
  flex-direction: "row";

}
.Contact:hover
{
   color:white;
}
.vl {
  border-left: 2px solid grey;
  height: 800px;
  position:"relative";
  margin-top: 130px;
}
@media screen and (max-width: 450px) {
  .vl {height:"0";
    position:absolute;
  }
  
}
* {
  box-sizing: border-box;
}

.com{
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.ro::after {
  content: "";
  clear: both;
}
.margin-card
{
  margin-top: -190px;
}
@media screen and (max-width:450px){
  .margin-card{
    margin-top: 20px;
  }
}
.footer
{
    padding:2px;
    padding-top: 15px;
    background-color:rgba(13, 31, 23, 0.9) ;
    color:white;
    border-radius: 15px;
 
}
.a{
  text-decoration: none;
  color:white;
  font-style: oblique;


}
.a:hover{
  color:grey;
  text-decoration: none;
}

#content
{
  margin:150px auto;
  max-width: 760px;
  text-align: center;
}
#carousel-container
{
  width:95%;
  height:300px;
  margin:0 auto;
  position:relative;
  overflow:hidden;

}
#carousel
{
  width:600px;
  height:300px;
  margin:0;
  padding:0;
  position:absolute;
  list-style-type: none;

}
#carousel li{
  position:absolute;
  margin:0;
  padding:0;
  float:left;

}
#carousel li img{
  width:100%;
  height:100%;
  box-shadow: 0 14px 29px rgba(0,0,0,0.25),0 10px rgba(0,0,0,0.22);

}
#c1
{
  width:200px;
  height:150px;
  left:200px;
  top:130px;
  z-index:5;
}
#c2
{
  width:200px;
  height:150px;
  left:200px;
  top:130px;
  z-index:5;
}
#c3
{
  width:100px;
  height:75px;
  left:450px;
  top:50px;
  z-index:3;
}
#c4
{
  width:80px;
  height:60px;
  left:400px;
  top:30px;
  z-index:2;
}
#c5
{
  width:70px;
  height:53px;
  left:320px;
  top:10px;
  z-index:1;
  fill:alpha(opacity=50);
}
#c6
{
  width:70px;
  height:53px;
  left:210px;
  top:10px;
  z-index:1;
  opacity:0.5;
  fill:alpha(opacity=50);
}
#c7
{
  width:80px;
  height:60px;
  left:120px;
  top:20px;
  z-index:2;
}
#c8
{
  width:100px;
  height:75px;
  left:50px;
  top:130px;
  z-index:3;
}
#c9
{
  width:160px;
  height:113px;
  left:100px;
  top:100px;
  z-index:4;
}
#move_mark
{
  width:95%;
  max-width: 500px;
  margin:0 auto;
  position:relative;
  bottom:0;

}
#move_mark a{
  color:#666;
  font-size: 20px;
  font-weight:bold;
  text-decoration: none;
}
#move_mark a.active,#move_mark a:hover{
  color:#333;
  
}
#move_back
{
  margin:0 10px;
  position:absolute;
 
  bottom:0;
  left:0;

}
#move_next{
  margin:0 6px;
  position:absolute;
  bottom:0;
  right:100px;
}